#a{
    width: 92%;
    margin-left: 50px;
}
#b{
    margin-top: 80px;
    margin-left: 110px;
    color: gray;
}
#c{
    font-size: 35px;
    margin-left: 110px;
}
#d{
    margin-left: 110px;
    margin-right: 220px;
}
#e{
    margin-left: 110px;
    margin-top: 40px;
    color: gray;
}
.nav-link{
    color: black;
}
.first{
    padding-left: 140px;
}
.first img{
    width: 500px;
}
#f{
    margin-left: 60px;
}
.second{
    padding-left: 140px;
}
.second2{
    padding-left: 140px;
}
.second img{
    width: 500px;
}
#g{
    margin-left: 60px;
}
.sur{
    background-color: #c3ebe6;
}
#h{
    font-size: 32px;
    margin-top: 100px;
}
#i{
    margin-top: 65px;
    color: gray;
    font-size: 20px;
}
#k{
    margin-left: 60px;
}
#l{
    margin-left: 60px;
}
button{
    width: 130px;
    height: 40px;
    position:relative;
    top: 30px;
    left:45%;
}
#z{
    margin-top: 150px;
}
#z img{
width: 30px;
height: 30px;
}
#m{
    float: right;
}